body {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 48px;
}

p {
    font-size: 1rem;
}

.hero {
    width: 100%;
    text-align: center;
    background-image: url(asset\img\top.avif);
}